In [24]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")

In [25]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME","SPECIAL_CONSIDERATIONS","STATUS"], inplace=True)

In [26]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [28]:
# Look at APPLICATION_TYPE value counts for binning
type_count = application_df["APPLICATION_TYPE"].value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_count[type_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [30]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [31]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_new = class_count.loc[class_count > 1]
class_count_new

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [32]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [33]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [34]:
application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
ASK_AMT              int64
IS_SUCCESSFUL        int64
dtype: object

In [35]:
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [36]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL.values
# y = dummies_df.["IS_SUCCESSFUL"].values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [37]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [38]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=3


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 328

 dense_4 (Dense)             (None, 3)                 27

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 359
Trainable params: 359
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 7113.0200 - accuracy: 0.4939
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 13337.1621 - accuracy: 0.5096
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 4406.3604 - accuracy: 0.5125
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 9040.1973 - accuracy: 0.5115
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 12099.4678 - accuracy: 0.4955
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 1765.4717 - accuracy: 0.5285
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 10072.1514 - accuracy: 0.5182
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 4944.1011 - accuracy: 0.5161
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 9574.4268 - accuracy: 0.5131
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 7293.1240 - accuracy: 0.5222
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 8708.1699 - accuracy: 0.5207
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 10773.3545 - accuracy: 0.5275
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 9705.1826 - accuracy: 0.5511
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 9406.6436 - accuracy: 0.5331
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 2636.5103 - accuracy: 0.5309
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 6885.2759 - accuracy: 0.5751
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 7438.5005 - accuracy: 0.5449
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 7351.3843 - accuracy: 0.5664
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 7196.6841 - accuracy: 0.5673
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 7139.5371 - accuracy: 0.5140
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 535.8603 - accuracy: 0.5604
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 6948.6035 - accuracy: 0.4951
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 5058.2764 - accuracy: 0.5019
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 5466.4077 - accuracy: 0.5607
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 3951.7942 - accuracy: 0.5581
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 3764.5364 - accuracy: 0.5364
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 1074.7023 - accuracy: 0.5753
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 1390.1189 - accuracy: 0.5443
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 2696.5779 - accuracy: 0.5057
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 2539.3376 - accuracy: 0.5432
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 1965.3453 - accuracy: 0.5821
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 731.1533 - accuracy: 0.5537
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 3541.9966 - accuracy: 0.5129
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 1345.1720 - accuracy: 0.5554
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 1690.2914 - accuracy: 0.5444
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 1513.0970 - accuracy: 0.5209
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 1431.3723 - accuracy: 0.5042
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 513.7438 - accuracy: 0.4898
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 663.6155 - accuracy: 0.5133
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 202.1647 - accuracy: 0.5043
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 245.4008 - accuracy: 0.5357
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 251.1798 - accuracy: 0.5390
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 573.6459 - accuracy: 0.5435
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 34.8409 - accuracy: 0.5329
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 30.1856 - accuracy: 0.5868
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6662 - accuracy: 0.6274
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6520 - accuracy: 0.6786
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6442 - accuracy: 0.6924
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6427 - accuracy: 0.6800
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6396 - accuracy: 0.6896
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6374 - accuracy: 0.6830
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6336 - accuracy: 0.6810
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6419 - accuracy: 0.6663
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6317 - accuracy: 0.6779
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6593 - accuracy: 0.6324
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5320
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5320

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6329 - accuracy: 0.6941 - 461ms/epoch - 2ms/step
Loss: 0.6328510046005249, Accuracy: 0.6941108107566833

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
# Export our model to HDF5 file
nn.save("/content/drive/My Drive/Colab Notebooks/deep-learning-challenge/Optimization_1.h5")

with open('/content/drive/My Drive/Colab Notebooks/deep-learning-challenge/Optimization_1.h5', 'w') as f:
  f.write('content')