## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME"], inplace=True)

In [ ]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
type_count = application_df["APPLICATION_TYPE"].value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_count[type_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_new = class_count.loc[class_count > 1]
class_count_new

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL.values
# y = dummies_df.["IS_SUCCESSFUL"].values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 96227.2109 - accuracy: 0.4981
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 30255.1074 - accuracy: 0.4938
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 42044.0000 - accuracy: 0.5133
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 25959.0566 - accuracy: 0.5069
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 9821.4941 - accuracy: 0.5219
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 10755.3740 - accuracy: 0.5012
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 24954.1387 - accuracy: 0.5118
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 33337.5625 - accuracy: 0.5002
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 9462.1992 - accuracy: 0.4873
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 12621.9277 - accuracy: 0.5012
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 6109.2637 - accuracy: 0.5013
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 8047.0059 - accuracy: 0.5031
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 5886.5742 - accuracy: 0.4989
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 6612.3291 - accuracy: 0.5072
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 1412.1006 - accuracy: 0.5221
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 1364.1200 - accuracy: 0.5207
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 5148.1870 - accuracy: 0.4998
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 2859.7981 - accuracy: 0.5061
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 2881.2107 - accuracy: 0.5049
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 2554.8872 - accuracy: 0.5206
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 1434.1503 - accuracy: 0.5048
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 1695.9039 - accuracy: 0.5116
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 446.8308 - accuracy: 0.5284
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 96.5488 - accuracy: 0.5395
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 17.1149 - accuracy: 0.5285
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5331
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5331
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5331

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.2683 - accuracy: 0.5895 - 500ms/epoch - 2ms/step
Loss: 1.2683279514312744, Accuracy: 0.5895043611526489

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [28]:
# Export our model to HDF5 file
nn.save("/content/drive/My Drive/Colab Notebooks/deep-learning-challenge/starter_model.h5")

with open('/content/drive/My Drive/Colab Notebooks/deep-learning-challenge/starter_model.h5', 'w') as f:
  f.write('content')

In [26]:
nn